{% extends "index.html" %}
{% load static %}
{% block title %} TechMelba | About techmelba {% endblock title %}
{% block aboutactive  %}active{% endblock aboutactive  %}

{% block css %}
<style>
  .heading.heading--style-2 .heading__pre-title::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 3px;
        width: 40px;
        margin-right: 10px;
        margin-bottom: 3px;
        background: purple;
        position: relative;
    }
    .line{
        height: 25px; 
        min-width: 100%;
        margin: 0 auto 10px;
        line-height: 25px;
        font-size: 14px;
        color: #fff;
        padding: 0 0 0 10px;
        position: relative;
    }

    .line:before{
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        height: 25px;
        top: 0;
        z-index: -2;
        background: #d2d6d7;
    }

    .line:after{
        content: '';
        background: linear-gradient(gold, green,yellow);
        height: 25px;
        transition: 0.8s;
        display: block;
        width: 100%;
        animation: animate 1 7s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .line1:after{
        max-width: 90%;
    }
    .line2:after{
        max-width: 80%;
    }
    .line3:after{
        max-width: 85%;
    }
    .line4:after{
        max-width: 95%;
    }
    .line5:after{
        max-width: 88%;
    }
    .line6:after{
        max-width: 92%;
    }
    .line7:after{
        max-width: 82%;
    }

    @keyframes animate{
        0%{
            width: 0;
        }
        100%{
            width: 100%;
        }
    }
 .sayem img{
     filter:brightness(0.5);

 }

    

</style>
{% endblock css %}

{% block body %}

<!-- OUR BANNER IMAGE WITH TITLE WILL START HERE  -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item sayem active">
      	 
        <img class="second-slide " src="{% static 'img/banner/p3.jpg' %}" alt="Second slide">
        <div class="container">
          <div class="carousel-caption  text-center bg-text" style="padding-bottom:160px;">
            <h2>About Our Company</h2>
            
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- OUR BANNER IMAGE WITH TITLE ENDS HERE  -->
   
   <div class="container mt-5 ">
       <div class="row">
           <div class="col-lg-6 col-md-12 col-sm-12 mt-6">
              <img src="{% static 'img/team/blog-inside-post.jpg' %}" class="img-fluid" alt=" slide">
           </div>
           <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
            <div class="heading heading--primary heading--style-2" data-aos="fade-right"><span class="heading__pre-title ">Read about our company</span><br>
                <h4 class="mt-3"><span>Some information</span><br> <span class="text-muted">Techmelba International</span></h4>
            </div>
            <p class="text-muted">
                This tutorial / guide will give you a detailed overview of the criteria, method and schedule of company registration in Bangladesh, this is how to open an organization in Bangladesh. Bangladesh, like other jurisdictions, has a set of basic and consistent regulatory consent requirements for starting and conducting a business.<br><br>

                Note that most Bangladeshi companies consider registering a new business or relocating your existing business to Bangladesh. Capital contributions are not liable for companies outside of that. Anyone over the age of 18 (foreign or local) can register a business in Bangladesh under the Companies Act 1994.
            </p>
           </div>
       </div>
   </div>
   <div class="container mt-5 mb-4">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mt-6">
           <h3 data-aos="fade-right">Why You Should Choose Us?</h3>
           <p class="justify-content text-muted">
            We have a dedicated team of Professional Designers, Developers, Digital Marketing Managers, 
            SEO Specialists and Advertising Managers with over 6+ years of experience in various IT field.
             We provide all services very cheap rate. We develop your website search engine optimization friendly. 
             This is help ranking top of the first page all over competitor website. Your existing client will find easily.
              We always use latest and modern technology develop your website. This technology you expected. 
              We develop your website dynamically. You can control easily and edit any time without the programming language. 
              We focus on your IT so you can focus on your business. IT Farm helps the sustainability and 
              long term growth of your business by providing. Eurekh IT Farm globally invests in seed, start-up, 
              and early stage companies, and help them on partnerships with Japanese enterprises. More Info About Us: Facebook. If you need any services, please feel free to call us 880 1701 333 511.
           </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 ">

            <div class="wrapper">
                <h3 class="text-center " data-aos="fade-up">Our skills</h3>

                <h6>HTML/CSS</h6>
                <div class="line line1">90%</div>
                <h6>Javascript</h6>
                <div class="line line2">80%</div>
                <h6>Django</h6>
                <div class="line line3">85%</div>
                <h6>Python</h6>
                <div class="line line4">87%</div>
                <h6>React Js</h6>
                <div class="line line5">88%</div>
                <h6>Bootstrap </h6>
                <div class="line line6">92%</div>
                <h6>Graphics Design</h6>
                <div class="line line7">95%</div>

            </div>
         
        </div>
    </div>
</div>


{% endblock body %}
{% block script %}
  
{% endblock script %}