{% extends "index.html" %}
{% load static %}
{% block title %} TechMelba | Contact with techmelba {% endblock title %}
{% block contactactive  %}active{% endblock contactactive  %}

{% block css %}
<style>
    .heading.heading--style-2 .heading__pre-title::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 2px;
        width: 30px;
        margin-right: 10px;
        margin-bottom: 3px;
        background: #fdd340;
        position: relative;
    }
    .mt-10{
        margin-top: 10rem;
    }
    .mb-10{
        margin-bottom: 10rem;
    }
    .p-10{
        padding:3rem;
    }
    .bg-orange{
        padding: 1rem;
    }
    .form-bg{
        background: #101522;
        border:1px dotted rgb(26, 18, 48);
        border-radius: 10px;
        padding: 1rem;
    }
    .form-control {
        background-color:rgb(216, 212, 212);
        border-radius: 4px;
      }
      .btn-bg{
          background:yellow;
      }
      .btn-bg:hover{
          background:rgb(13, 52, 104);
          color: white;
      }
      .btn{
          border-radius: 50px;
      }
      .head-title{
          font-weight: bold;
      }
      .map-container-3{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        }
        .map-container-3 iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        }
    
</style>
{% endblock css %}

{% block body %}
<!-- OUR BANNER IMAGE WITH TITLE WILL START HERE  -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img class="second-slide" src="https://source.unsplash.com/1900x420/?contact" alt="Second slide">  -->
        <img class="second-slide" src="{% static 'img/banner/p1.jpg' %}" alt="Second slide">
        <div class="container">
          <div class="carousel-caption  text-center bg-text" style="padding-bottom:160px;">
            <h2 > Contact us for your query.</h2>
            <!-- <p class="slide-p">Intellect Wealth, partnering with advisers to support more Australians
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- OUR BANNER IMAGE WITH TITLE ENDS HERE  -->
<div class="container mt-10 mb-10">
    <div class="row">
        <div class="col-lg-3 bg-orange">
            <h2 class="head-title"  data-aos="fade-right">
                Contact</h2>
            <h6 style="color: orangered;"><i class="icofont-location-pin" style="color: white"></i>&nbsp; LOCATION</h6>
            <p class="mt-0 ">Lane 07, House 417, Baridhara DOHS, DHAKA</p>
            <h6 style="color: orangered;"><i class="icofont-phone" style="color: white"> </i>&nbsp;  CALL US</h6>
            <p class="mt-0 ">+880 1316 522214</p>
            <h6 style="color:orangered;"><i class="icofont-email" style="color: white"></i>&nbsp;  MAIL US</h6>
            <p class="mt-0 ">sayem.uddin@techmelba.com</p>

        </div>
        <div class="col-lg-7 ml-3 p-4 form-bg  text-white">
            <h3>Let's Talk</h3>
            <p class="mt-0">
                Contact us to get, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ainim veniam.
            </p>

            <form class="mt-4" method="POST">
              {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name='name' class="form-control" id="name"  placeholder=" Name" required>
                    </div>

                    <div class="form-group col-md-6">
                        <input type="phone" name='contact' class="form-control" id="phone" placeholder="Phone" required >
                    </div>

                  <div class="form-group col-md-12">
                    <input type="email" name='email' class="form-control" id="email" placeholder="Email" required >
                  </div>

                  <!-- <div class="form-group col-md-6">
                    <input type="phone" name='user_contact' class="form-control" id="phone" placeholder="Contact No." required>
                  </div> -->
                </div>
                <div class="form-group">
                  <textarea class="form-control s" name="message" id="message" rows="3" placeholder="Message" required></textarea>

                </div>
               
                <div class="text-lg-start">
                  <a href="#0" class="button12">
                    <em> </em>   
                     <span>
                      Contact Us
                       </span>
                   </a>
                </div>
                <!-- <button type="submit" class="btn btn-bg">Contact Us</button> -->
              </form>

        </div>
    </div>
</div>
 <!-- OFFICE LOCATION  -->
 <div class=" mt-6">
    <div class="row text-center">
        <div class="col-md-12">
             <!-- OFFICE LOCATION MAP  -->
             <div class="z-depth-1-half map-container-3" id="map-container-google-3">
                <iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.264237817902!2d90.41100971498246!3d23.809201084560424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7aabc9e83bd%3A0x1a6808ccd6e71e4f!2shouse%20417%2C%207%20DOHS%20Bypass%2C%20Dhaka%201212!5e0!3m2!1sen!2sbd!4v1615706743319!5m2!1sen!2sbd'  frameborder="0" style="border:0;" tabindex="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block script %}
{% endblock script %}