{% extends "index.html" %}
{% load static %}
{% block title %} TechMelba | Techmelba Projects {% endblock title %}
{% block projectactive  %}active{% endblock projectactive  %}

{% block css %}

{% endblock css %}

{% block body %}
<main id="main">
    <section id="about" class="about ">
  
      <div class="container" data-aos="fade-up">
        


        <div class="row gx-0">
            <div class="col-lg-6  " data-aos="zoom-out" data-aos-delay="200">
              
                <div class="item">
                  <img src="{{project.project_image.url}}" class="img-fluid " alt="">
                </div>
                <div class="mt-4" >
                  <h2>{{project.project_title}}.</h2>
              
                  <p class="justify-content text-muted">
                  {{project.project_desc|safe}}
                  <a class="btn btn-danger" href="{{project.project_site_link}}">View Demo Site</a>
                  </p>
                  
                  
                </div>
                
            </div>
            <div class="col-lg-6 d-flex flex-column   make-it-slow" data-aos="fade-up" data-aos-delay="200">
              <div class=" align-item-center text-center" >
                <h2>Technology We Used</h2>
            
                <p class="justify-content text-muted ">
                {{project.project_tool_desc|safe}}
                </p>
                
              </div>
            </div>
    
          </div>
      </div>
      
    </section>
    
  </main>
 
  

  <div class="container">
    <div class=" mb-4">
        <div class="p owl-carousel  owl-theme">
            {% if images %}
            {% for i in images %}
            <div class="item">
               <a href="{{i.image.url}}" data-gall="portfolioGallery" class="venobox">
                <img width="100px;" height="100px;" src="{{i.image.url}}" class="img-fluid" alt="">
                </a>
            </div>
            {% endfor %}
            {% endif %}
           
        </div>
   </div>

  </div>

{% endblock body %}


{% block script %}
<script>
    

    
</script>
{% endblock script %}