{% extends "index.html" %}
{% load static %}
{% block title %} TechMelba | TechMelba Team {% endblock title %}
{% block teamactive  %}active{% endblock teamactive  %}

{% block css %}
<style>
    .heading.heading--style-2 .heading__pre-title::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 3px;
        width: 40px;
        margin-right: 10px;
        margin-bottom: 3px;
        background: purple;
        position: relative;
    }
   
    /*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
    background: #0f1b39;
    padding: 60px 0;
  }
  
  .team .member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
  }
  
  .team .member .member-img {
    position: relative;
    overflow: hidden;
  }
  
  .team .member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(static/img/team-shape.svg) no-repeat center bottom;
    background-size: contain;
    z-index: 1;
  }
  
  .team .member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(44, 34, 34, 0.76);
    z-index: 2;
  }
  
  .team .member .social a {
    transition: color 0.3s;
    color: rgba(1, 41, 112, 0.5);
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
  }
  
  .team .member .social a:hover {
    color: rgba(1, 41, 112, 0.8);
  }
  
  .team .member .social i {
    font-size: 18px;
  }
  .team .member .social i:hover {
    font-size: 18px;
    color: #000000;
  }
  
  .team .member .member-info {
    padding: 10px 15px 20px 15px;
  }
  
  .team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #012970;
  }
  
  .team .member .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #757171;
  }
  
  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;
  }
  
  .team .member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  
  .team .member:hover .social {
    right: 8px;
    opacity: 1;
  }
   
  .sayem img{
     filter:brightness(0.5);

 }
</style>
{% endblock css %}

{% block body %}
<!-- OUR BANNER IMAGE WITH TITLE WILL START HERE  -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item sayem active">
        <img class="second-slide" src="{% static 'img/banner/t1.jpg' %}" alt="Second slide">
        <div class="container">
          <div class="carousel-caption  text-center bg-text" style="padding-bottom:160px;">
            <h2> Our team members</h2>
           
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- OUR BANNER IMAGE WITH TITLE ENDS HERE  -->

   <!-- ======= Team Section ======= -->
   <section id="team" class="team mt-5">

    <div class="container" data-aos="fade-up">

      <div class="heading heading--primary heading--style-2 text-center  mb-5" data-aos="fade-right">
        <span class="heading__pre-title "><h2>OUR LEADING TEAM</h2> </span>
     </div>

      <div class="row gy-4">

        {% for m in members %}

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img  src="{{m.member_image.url}}" class="img-fluid" alt="">
              <div class="social">
              <a href="{{m.member_twitter}}" class="twitter"><i class="icofont-twitter"></i></a>
              <a href="{{m.member_facebook}}" class="facebook"><i class="icofont-facebook"></i></a>
              <a href="{{m.member_linkedin}}" class="linkedin"><i class="icofont icofont-linkedin"></i></a>
              <a href="{{m.member_github}}" class="github"><i class="icofont icofont-github"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>{{m.member_name}}</h4>
              <span>{{m.member_designation}}</span>
            </div>
          </div>
        </div>
        {% endfor %}

        

      </div>

    </div>

  </section><!-- End Team Section -->



{% endblock body %}

{% block script %}
{% endblock script %}