 {% load static %}
 <style>
 
  .mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: var(--yellow);
}
  .nav-effect::after{
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .nav-effect:hover::after{
    height: calc(100% + 8px)
  }

 </style>
 
 
 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center">
          <a href="/" class="logo mr-auto"><img src="{% static 'img/techmelba/logo2.png' %}" alt="" class="img-fluid "></a>
          <!-- <a href="/" class="logo mr-auto"><img src="{% static 'img/techmelba/logo5.png' %}" alt="" class="img-fluid"></a> -->
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class=""><a class="nav-effect" href="/">Home</a></li>
              <li><a class="nav-effect" href="/about">About</a></li>
              <li><a class="nav-effect" href="/service">Services</a></li>
              <li><a class="nav-effect" href="/projects">Project</a></li>
              <li><a class="nav-effect" href="/team">Team</a></li>
              <li><a class="nav-effect" href="/contact">Contact</a></li>
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
